body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container {
    display: flex;
  }

.img {
  width: 100vh;
  height: 50vh;
  opacity: 0;
  animation: smooth 1s ease-in 250ms 1 normal forwards;
}

.logo {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem;
}

.logo:hover {
  transform: scale(1.3)
}

.navigation {
  background-color: rgb(230, 225, 220);
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 30%;
  border-radius: 2rem;
}

.arrow-left {
  background-image: url(./src/icon/arrow-left-thick.png);
}

.arrow-right {
  background-image: url(./src/icon/arrow-right-thick.png);
}

.dot {
  background-image: url(./src/icon/circle-medium.png);
}

.eneabled{
  display: block;
}

.disabled {
  display: none;
}

.unselected {
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

@keyframes smooth{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}